.list-item {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  /* text-align: justify; */
}
.list-item div {
  display: inline;
  margin: 0 10px;
  width: 20%;
  /* border: 1px solid #ccc; */

}