* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
.citys {
  display: inline;
  width: 30%;
  height: 100%;
  border: 1px solid black;
}

.details {
  display: inline;
  width: 70%;
  height: 100%;
  border: 1px solid black;
}
.input {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.recentCity {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.recentCityList {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.recentCityItem{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
